.footer {
  background-image: linear-gradient(to right, #262626, #020617);
  color: #fff;
  padding: 5rem;
  margin-top: 8rem;
  text-align: center;

}
.footer h2 {
  font-size: 2.5rem;
  font-family: 'Ubuntu';
  display: inline-block;
  background-image: linear-gradient(to right, #4ade80, #6366f1);
  -webkit-background-clip: text;
  color: transparent;
}
.footer p{
    font-size: 1.2rem;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.icons {
  color: #fff;
  width: 1.5rem;
}
.footer h2 {
  margin-bottom: 2rem;
}
