.reviews {
  position: relative;
}
.reviews h2 {
  margin-top: 5rem;
  text-align: center;
  text-transform: uppercase;
}
.video {
  position: absolute;
  top: -40%;
  left: 0;
  height: 150%;
  width: 100%;
  /* z-index: 1; */
  opacity: 0.15;
  overflow: hidden;
}
.video-content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.stories h2 {
  margin-bottom: 5rem;
}

.story {
  display: flex;
  gap: 20px;
  width: 75%;
  background-color: rgba(255, 255, 255, 0.6); /* Specify RGB values for white */
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(51, 51, 51, 0.1); /* Specify RGB values for gray */
  border-radius: 3px;
  padding: 50px 0px 50px 50px;
  font-size: 16px;
  transform: skewX(-12deg);
}
.story:not(:last-child) {
  margin-bottom: 30px;
}

.story > * {
  transform: skewX(12deg);
}
.story-shape img {
  width: 100%;
  height: 100px;
  /* height: 150px; */
}
.story-shape:hover img {
  transform:  scale(1);
  filter: blur(3px) brightness(80%);
}
.story-shape figcaption {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  text-align: center;
  opacity: 1;
  transition: all 0.5s;
  backface-visibility: hidden;
}
