.reviews {
  position: relative;
  color: #6b7280;
}
.reviews h2 {
  margin-top: 5rem;
  text-align: center;
  text-transform: uppercase;
}
.video {
  position: absolute;
  top: -50%;
  left: 0;
  height: 170%;
  width: 100%;
  /* z-index: 1; */
  opacity: 0.15;
  overflow: hidden;
}
.video-content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* .stories{
    margin-bottom: 5rem;
    background-color: red;
} */
.stories h2 {
  margin: 15rem 0 5rem 0;
}

.story {
  display: flex;
  gap: 20px;
  width: 75%;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(51, 51, 51, 0.1);
  border-radius: 3px;
  padding: 50px 0px 50px 50px;
  font-size: 16px;
  transform: skewX(-12deg);
}
.story:not(:last-child) {
  margin-bottom: 30px;
}

.story > * {
  transform: skewX(12deg);
}
.story-shape {
  width: 20rem;
  height: 10rem;
  border-radius: 50%;
  /* border: 1px solid red; */
  transform: skewX(12deg);
  overflow: hidden;
}
.story-shape img {
  width: 100%;
  /* height: 100%; */
  transform: scale(1.05);
  transition: all 0.5s;
}
.story:hover .story-shape figcaption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.story:hover .story-shape img {
  transform: scale(1);
  filter: blur(3px) brightness(80%);
}
.story-shape figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  backface-visibility: hidden;
}
.story-text {
  font-family: 'Ubuntu';
}
.story-text h3{
  margin-bottom: 2rem;
  /* text-transform: uppercase; */
}
